/* You can add global styles to this file, and also import other style files */
body{
    margin:0;
    background: #fff748;
}
.QUICK-DRAW-GAME {
    font-family: Rubik;
    font-size: 90px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.11;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
  }
  .Create-Data-Set {
    border-radius: 88px;
    border: solid 2px #b0dc01;
    background-color: #1b0448;
    font-family: Rubik;
    font-size: 28px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: 0.23px;
    text-align: center;
    color: #b0dc01;
    padding: 15px 60px 15px 60px;
  }
  .Create-Data-Set:hover {
    font-family: Rubik;
    font-size: 28px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: 0.23px;
    text-align: center;
    color: #250f51;
    border-radius: 88px;
    background-color: #b0dc01;
    cursor: pointer;
    padding: 15px 60px 15px 60px;
    text-decoration: none;
  }
  .Play-Game {
    font-family: Rubik;
    font-size: 28px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: 0.23px;
    text-align: center;
    color: #250f51;
    border-radius: 88px;
    background-color: #b0dc01;
    padding: 15px 90px 15px 90px;
  }

  .Play-Game:hover {
    border-radius: 88px;
    border: solid 2px #b0dc01;
    background-color: #1b0448;
    font-family: Rubik;
    font-size: 28px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: 0.23px;
    text-align: center;
    color: #b0dc01;
    cursor: pointer;
    padding: 15px 90px 15px 90px;
    text-decoration: none;
  }
