
<div class="container pt-5 mt-5">
    <div class="row text-center mb-5 mt-5">
      <div class="col header QUICK-DRAW-GAME">
        Quick Draw Game
      </div>
    </div>
    <div class="row text-center pt-5 mt-5">
      <div class="col" style="margin-top: 150px;">
        <a routerLink="/dataset" class="Create-Data-Set">Create Data Set</a>
      </div>
    </div>
    
    <div class="row text-center mt-5">
      <div class="col">
        <a routerLink="/play" class="Play-Game">Play Game</a>
      </div>
    </div>
  </div>

